<div class="form-container">
  <button matFab extended (click)="onCreate()" style="width: 150px">
    <mat-icon>add</mat-icon>
    Novo
  </button>
  <section class="section-filter">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Ex. Mia" #input />
    </mat-form-field>
  </section>

  <section>
    <div style="height: 2px">
      @if (isLoading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </div>

    <div class="mat-elevation-z8">
      <div class="tabela">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          matSortActive="id"
          matSortDisableClear
          matSortDirection="asc"
          aria-label="Elements"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
          <ng-container matColumnDef="cnpj">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</th>
            <td mat-cell *matCellDef="let row">{{ row.cnpj }}</td>
          </ng-container>
          <ng-container matColumnDef="razaoSocial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RAZAO SOCIAL</th>
            <td mat-cell *matCellDef="let row">{{ row.razaoSocial }}</td>
          </ng-container>
          <ng-container matColumnDef="nomeFantasia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>nomeFantasia</th>
            <td mat-cell *matCellDef="let row">{{ row.nomeFantasia }}</td>
          </ng-container>
          <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>endereco</th>
            <td mat-cell *matCellDef="let row">{{ row.endereco }}</td>
          </ng-container>
          <ng-container matColumnDef="telefone">
            <th mat-header-cell *matHeaderCellDef>telefone</th>
            <td mat-cell *matCellDef="let row">{{ row.telefone }}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>email</th>
            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
          </ng-container>
          <ng-container matColumnDef="cnaePrincipal">
            <th mat-header-cell *matHeaderCellDef>cnaePrincipal</th>
            <td mat-cell *matCellDef="let row">{{ row.cnaePrincipal }}</td>
          </ng-container>
          <ng-container matColumnDef="dataAbertura">
            <th mat-header-cell *matHeaderCellDef>dataAbertura</th>
            <td mat-cell *matCellDef="let row">{{ row.dataAbertura }}</td>
          </ng-container>
          <ng-container matColumnDef="regimeTributario">
            <th mat-header-cell *matHeaderCellDef>regimeTributario</th>
            <td mat-cell *matCellDef="let row">{{ row.regimeTributario }}</td>
          </ng-container>
          <ng-container matColumnDef="mesReferencia">
            <th mat-header-cell *matHeaderCellDef>mesReferencia</th>
            <td mat-cell *matCellDef="let row">{{ row.mesReferencia }}</td>
          </ng-container>
          <ng-container matColumnDef="anoReferencia">
            <th mat-header-cell *matHeaderCellDef>anoReferencia</th>
            <td mat-cell *matCellDef="let row">{{ row.anoReferencia }}</td>
          </ng-container>
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>ACOES</th>
            <td mat-cell *matCellDef="let row">
              <button
                matIconButton
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onEditById(row)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="onDeleteById(row.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Excluir</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              Nenhum dado correspondente ao filtro "{{ input.value }}"
            </td>
          </tr>
        </table>
      </div>

      <mat-paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[5, 10]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </section>
</div>
